<h2><%= @mushroom.name %></h2>

<ul>
  <li>Description : <%= @mushroom.content %></li>
  <li>Où pousse-t-il ? : <%= @mushroom.location %></li>
  <li>Comestible ? <%= @mushroom.eatable %></li>
  <li>Forme du chapeau : <%= @mushroom.cap %></li>
</ul>

<%= link_to 'Retour', mushrooms_path, class: "btn btn-ghost" %>
