

<div class="card-list-my-chomps">


  <h1>Mes propres créations chompignons ! <i class="fas fa-magic"></i></h1>

   <% @mymushrooms.each do |mushroom| %>

    <div class="card-my-chomps">
      <%= link_to mushroom do %>

    <% if mushroom.photo.attached? %>
      <%= cl_image_tag mushroom.photo.key, height: 320, width: 320, crop: :fill %>
    <% end %>

    <div class="card-description-my-chomps">
      <%= mushroom.name %>
      <%= link_to '✏️', edit_mushroom_path(mushroom) %>
    </div>

   </div>
  <% end %>
  <% end %>
</div>




 <!-- <div class="card-list-my-chomps">

  <h1>Mes chompignons favoris ! <i class="fas fa-heart"></i></h1>

      <% @fav_champ.each do |mushroom| %>

    <div class="card-my-chomps">
      <%= link_to mushroom do %>
      <% if mushroom.photo.attached? %>
        <%= cl_image_tag mushroom.photo.key, height: 320, width: 320, crop: :fill %>
      <% end %>


      <div class="card-description-my-chomps">
        <%= link_to mushroom.name, mushroom %>
      </div>
    <% end %>
    </div>
      <% end %>
  </div> -->
