<!DOCTYPE html>
<html>
  <head>
    <title>GetsChompignons</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- yield ruby à rajouter lors du commit-->
    <%= render 'shared_huyvu/navbar' %>
    <%= render 'shared_huyvu/banner' %>
    <%= render 'shared_huyvu/feature' %>
    <%= render 'shared_huyvu/banner_welcome' %>
    <%= render 'shared_huyvu/card_chompignon' %>
    <%= render 'shared_huyvu/banner_show_chompignon' %>
    <%= render 'shared_huyvu/card_review' %>
    <%= render 'shared_huyvu/form_login_signup' %>

    <script src="login.js"> </script>

  </body>

</html>
